<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <div>
                <h1>{{home_message}}</h1>
                <p>{{home_para}}</p>
                <a href="/contact/">Contact Page</a><br>
                <a href="/login/">Form</a><br>
                <img height="200" width="200" src="{{ url_for('static', filename = 'uploads/tt_class.jpg') }}" >
            </div>
        </div>
    </div>
</body>
</html>